DJANGO_PORT=8000
DOCKER_EXPOSE_PORT=8074
DJANGO_ALLOWED_HOSTS=127.0.0.1,127.0.0.2

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db

RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_VHOST=rabbitmq
